@page "/wiki"
@inject IStringLocalizer<Index> L


<h1>@L["Staerf's wiki"]</h1>

<div class="flex flex-col">
    <div class="ms-2">
        <span class="text-xl">@L["Wiki history"]</span>
        <div class="flex flex-col">
            <div class="ms-2">Wiki fandon</div>
            <div class="ms-2">Staerf's Patiots VK</div>
            <div class="ms-2"><code>париоты-стае.рф</code></div>
            <div class="ms-2">This wiki</div>
        </div>
    </div>
    <div class="ms-2">
        <span class="text-xl">@L["Staerf's life"]</span>
        <div class="flex flex-col">
            <div class="ms-2">Youn ages</div>
            <div class="ms-2">Staerf's Patiots VK</div>
        </div>
    </div>
    <div class="ms-2">Staerf's <code>music</code></div>
    <div class="ms-2">Streamer Staerf</div>
</div>
